<aside id="docs-menu" class="box is-shadowless is-radiusless has-background-light pt-6 pb-6">
	<a href="{{ "index"|link }}" class="icon-text is-hidden-desktop pb-3">
		<h1 class="title is-6">{{site_title}}</h1>
	</a>

	{% set root =  pages["index"].tree_node %}
	{{ _self.menu_level(root, current_page, 0) }}
</aside>


{# recursive sub menu #}
{% macro menu_level(root_node, current_page, level) %}
	<ul class="tree{% if level == 0 %} trunk{% endif %}">

		{% for node in root_node.children if not node.page.hidden and not node.page.meta.menuhidden %}
			<li
				class="node{% if node.page.id == current_page.id %} is-active{% endif %}">

				{# Folder #}
				{% if node.children %}
					<input type="checkbox" id="trigger-{{node.id|split('/')|last|url_encode}}" {% if node.id in current_page.id %} checked {% endif %}>
					<label for="trigger-{{node.id|split('/')|last|url_encode}}" class="icon-text">
						<span class="icon">
							<i class="fa fa-folder fa-fw has-text-info"></i>
						</span><span>
						{% if node.page.title %}
							{{node.page.title}}
						{% else %}
							{{node.id|split('/')|last}}
						{% endif %}
						</span>
					</label>

					{# Recursion one level deeper #}
					{{ _self.menu_level(node, current_page, level+1) }}


					{# Page #}
				{% else %}
					<a href="{{ node.page.url }}" class="icon-text">
						<span class="icon">
							<i class="fa fa-file fa-fw has-text-white"></i>
						</span><span>
						{% if node.page.title %}
							{{node.page.title}}
						{% else %}
							{{node.id|split('/')|last}}
						{% endif %}
						</span>
					</a>
				{% endif %}

			</li>
		{% endfor %}
	</li>
</ul>{% endmacro %}
